In [11]:
import pandas as pd
from textblob import TextBlob
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [2]:
df = pd.read_csv('freviews.csv')

In [3]:
df.shape

(55, 3)

In [4]:
df.head()

,title,rating,review
0,M B motors ballymena,5,I recently bought a car that was no se to me a...
1,This amazing,5,This amazing
2,They made everything so easy and…,5,They made everything so easy and answered all ...
3,Easy to buy and wonderful experience,5,Easy to buy and wonderful experience
4,Very nice people and very fast,5,Very nice people and very fast

In [5]:
df['rating'].value_counts()

rating
5    49
4     3
1     2
2     1
Name: count, dtype: int64

In [6]:
df['rating_sentiment'] = df['rating'].map({1: 'negative', 2: 'negative', 3: 'neutral', 4: 'positive', 5: 'positive'})

In [7]:
df.head()

,title,rating,review,rating_sentiment
0,M B motors ballymena,5,I recently bought a car that was no se to me a...,positive
1,This amazing,5,This amazing,positive
2,They made everything so easy and…,5,They made everything so easy and answered all ...,positive
3,Easy to buy and wonderful experience,5,Easy to buy and wonderful experience,positive
4,Very nice people and very fast,5,Very nice people and very fast,positive

In [9]:
df['blob'] = df['review'].apply(lambda review: TextBlob(review).sentiment.polarity)

In [10]:
df.head()

,title,rating,review,rating_sentiment,blob
0,M B motors ballymena,5,I recently bought a car that was no se to me a...,positive,0.100000
1,This amazing,5,This amazing,positive,0.600000
2,They made everything so easy and…,5,They made everything so easy and answered all ...,positive,0.716667
3,Easy to buy and wonderful experience,5,Easy to buy and wonderful experience,positive,0.716667
4,Very nice people and very fast,5,Very nice people and very fast,positive,0.520000

In [12]:
sia = SentimentIntensityAnalyzer()

In [ ]:
df['nltk'] = df['review'].apply(lambda review: sia.polarity_scores(review)['compound'])